/****************
 * MAIN, TITLE LAYOUT
 ******/

﻿* {
	line-spacing: 1em;
	margin: 0px;
	padding: 0px;
}

body {
	background: url('../img/canvas/Desk3TileDark.png');
	background-repeat: repeat;
	background-position: center top;
	background-color:#000000;
	color: #eee;	
	font: 15px Calibri,Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	height:100%;
	width:100%;
}

#page_header {
	width: auto;
	background: url('../img/canvas/notepad_icon_small.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 40px;
}

#page_header,
#page_header h1 {
	height: 40px;
	margin: 33px auto 7px;
	background-position: left center;
	font-size:xx-large;
}

/****************
 * CANVAS LAYOUT
 ******/

#main {
	height: 100%;
	width: 750px; /*Width of main container*/
	margin: 0 auto; /*Center container on page*/
}

#middle {
	float: left;
	height: 500px;
	width: 100%;
}

#container {
	float: left;
	position: relative;
	margin-left: 100px;
	display: inline;
}

#left {
	float: left;
	width: 100px; /*Width of left column in pixel*/
	margin-left: -750px; /*Set margin to that of -(MainContainerWidth)*/
}

#right {
	float: left;
	width: 100px; /*Width of right column*/
	margin-left: -100px; /*Set left margin to -(RightColumnWidth)*/
}

/****************
 * CANVAS OBJECTS
 ******/

.object {
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}

#eraser {
	background-image: url('../img/canvas/objects/eraser_pink.png');
	width: 150px;
	height: 143px;
	left: -60px;
}

#marker {
	background-image: url('../img/canvas/objects/marker.png');
	width: 125px;
	height: 268px;
}

#pencil {
	background-image: url('../img/canvas/objects/pencil.png');
	width: 117px;
	height: 229px;
	left: -10px;
	bottom: 0px;
}

#light {
	background-image: url('../img/canvas/objects/light.png');
	position: fixed;
	width: 334px;
	height: 250px;
	top: 40px;
	right: 0px;
	z-index: 2;
}

#light_source {
	background-position: center center;
	position: absolute;
	width: 587px;
	height: 545px;
	z-index: 1;
	background-image: url('../img/canvas/objects/light_source.png');
	background-repeat: no-repeat;
	top: 100px;
	left: -100px;
}

#phone {
	background-image: url('../img/canvas/objects/phone.png');
	width: 166px;
	height: 229px;
	top: 75px;
}

#coffee  {
	background-image: url('../img/canvas/objects/coffee.png');
	width: 266px;
	height: 328px;
	bottom: -100px;
	left: 30px;
}
