* {
	line-spacing: 1em;
	margin: 0px;
	padding: 0px;
}

body {
	background: url('../img/canvas/Desk3TileDark.png');
	background-repeat: repeat;
	background-position: center top;
	color: #eee;	
	font: 15px Calibri,Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

#page_header {
	width: auto;
	background: url('../img/canvas/notepad_icon_small.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 40px;
}

#page_header,
#page_header h1 {
	height: 40px;
	margin: 33px auto 7px;
	background-position: left center;
	font-size:xx-large;
}

/****************
 * CANVAS LAYOUT
 ******/

#main {
	height: 100%;
	width: 750px; /*Width of main container*/
	margin: 0 auto; /*Center container on page*/
}

#middle {
	/*background: blue;*/
	float: left;
	height: 500px;
	width: 100%;
}

#container {
	float: left;
	position: relative;
	margin-left: 100px;
	display: inline;
}

#left {
	float: left;
	width: 100px; /*Width of left column in pixel*/
	margin-left: -750px; /*Set margin to that of -(MainContainerWidth)*/
}

#right {
	float: left;
	width: 100px; /*Width of right column*/
	margin-left: -100px; /*Set left margin to -(RightColumnWidth)*/
}

#shadow {
	background-image: url(../img/canvas/shade1x1.png);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

#lightSwitch {
	background-image: url(../img/canvas/light_bulb.png);
	background-repeat: no-repeat;
	background-position: left;
	padding: 0 0 0 16px;
	color: white;
	outline: none;
}
