*{
	margin:0;
	padding:0;
}

body{
	color:#eee;
	background:url('../img/page_bg.jpg') no-repeat center top #1b1b1c;
	font:15px Calibri,Arial,sans-serif;
}

#page{
	width:330px;
	margin:70px auto 100px;
}
#page_header {
	width:100%;
	height:50px;
	margin:10px;
}

#pagewide{
	width:800px;
	margin:70px auto 100px;
}


#slideshow{
	height:169px;
	overflow:hidden;
	width:454px;
}

#slideshowContainer{
	padding:10px;
	background-color:#181819;
	margin:30px 0 50px -72px;
	width:454px;
	border:1px solid #1f1f20;
}
#page hr,
#pagewide hr{
	border:0;
	text-indent:-9999px;
	height:50px;
	width:329px;
	background:url('../img/hbar.png') no-repeat;
	background-position:center bottom;
	overflow:hidden;
}

#page h1,
#page h2 {
	text-indent:-9999px;
	overflow:hidden;
	height:105px;
	background:url('../img/coming_soon.png') no-repeat;
}

#page h2{
	height:76px;
	background:url('../img/get_notified.png') no-repeat;
	margin-bottom:20px;
}

#page form,
#pagewide form{
	background-color:#181819;
	display:block;
	/*height:31px;*/
	padding:10px;
	position:relative;
	width:323px;
	margin-left:-7px;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

#email{
	background:url('../img/submit_form.png') no-repeat;
	border:none;
	color:#888888;
	height:31px;
	left:10px;
	line-height:31px;
	padding-left:8px;
	position:absolute;
	text-shadow:1px 1px 0 #FFFFFF;
	top:10px;
	width:215px;
	outline:none;
}

#submitButton{
	background:url('../img/submit_form.png') no-repeat right top;
	border:none;
	cursor:pointer;
	height:31px;
	left:236px;
	line-height:31px;
	position:absolute;
	text-indent:-99999px;
	text-transform:uppercase;
	top:10px;
	width:96px;
}

#submitButton:hover{
	background-position:right bottom;
}

/* Page Styles */

#footer{
	background-color:#212121;
	position:fixed;
	width:100%;
	height:70px;
	bottom:0;
	left:0;
}
.error {
	color:#800000;
}
.success {
	color:#003300;
}

.tri{
	border-color:transparent transparent #212121;
	border-style:solid;
	border-width:20px 17px;
	height:0;
	left:50%;
	margin:-40px 0 0 -400px;
	position:absolute;
	top:0;
	width:0;
}

#footer h1{
	font-size:20px;
	font-weight:normal;
	left:50%;
	margin-left:-400px;
	padding:25px 0;
	position:absolute;
	width:400px;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	border-bottom:1px dotted #97cae6;
	color:#97cae6;
}

a:hover{
	border-bottom:1px dashed transparent;
}

.clear{
	clear:both;
}

.notebook table {
  border-collapse: collapse;
  border: 1px solid #CCCCCC;
  color:#FFFFFF;
  background:#000000;
  text-align:left;
  width:100%;
  }
.notebook td {
	border: 1px solid #CCCCCC;
}
.notebook caption {
  text-align: center;
  background: transparent;
  padding:6px 4px 8px 0px;
  color: #CC00FF;
  text-transform: uppercase;
}
.notebook table a {
color:#CCCCCC;
text-decoration:none;
}
.notebook table a:hover {
text-decoration:underline;
}
.notebook tr.odd {
background: #666666;
}
.notebook tr.odd:hover {
background:#555555;
}
.notebook tr:hover {
background:#111111;
}
.notebook tr.head {
background:#333333;
text-align:center;
}
.notebook thead, tfoot {
background:#333333;
text-align:left;
height:30px;
}
.notebook thead th, tfoot th {
padding:5px;
}

.notebook tbody th, tbody td {
padding:5px;
}


.popup {
	border: 1px dotted #FFFFFF;
	position: absolute;
	z-index: 9999;
	left: 35%;
	top: 150px;
	width: 450px;
	background-color: #CCCCCC;
}
.popup .header {
	border: 1px solid #FFFFFF;
	padding: 5px;
	left: 0;
	right: 0;
	height: 25px;
	background-color: #C0C0C0;
	color: #333333;
}
.popup .header h1 {
	float:left;
	font-size:20px;
}
.popup .header #buttons {
	float: right;
	height: 100%;
	vertical-align: middle;
}
.popup .content {
	padding: 10px;
	left:0;
	right:0;
	color:#000000;
}
.popup .footer {
	padding: 5px;
	left: 0;
	right: 0;
	color:#333333;
	text-align:right;
}
.popup a {
	color:#333333;
	border-bottom:0px;
	outline:none;
}
.popup a:hover {
	color:#000000;
}


