body{
	font: 15px Calibri,Arial,sans-serif;
	margin: 0;
	padding: 0;
}

#page_header{
	width: auto;
	background: url('../img/canvas/notepad_icon_small.png');
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 40px;
}

#page_header,
#page_header h1 {
	height: 40px;
	margin: 33px auto 7px;
	background-position: left center;
}

/****************
 * CANVAS LAYOUT
 ******/

#main {
	height: 100%;
	width: 1000px; /*Width of main container*/
	margin: 0 auto; /*Center container on page*/
}

#middle {
	float: left;
	height: 100px;
	width: 100%;
}

#left {
	background: #C8FC98;
	float: left;
	width: 225px; /*Width of left column in pixel*/
	margin-left: -1000px; /*Set margin to that of -(MainContainerWidth)*/
}

#right {
	background: #FDE95E;
	float: left;
	width: 225px; /*Width of right column*/
	margin-left: -225px; /*Set left margin to -(RightColumnWidth)*/
}

#container {
	float: left;
	position: relative;
	margin-left: 225px;
	display: inline;
}

/****************
 * SCROLLBAR
 ******/

a:active,
a:focus { 
	outline: none;
}

.scroll-container { 
	height: 100%;
}
.scroll-pane {
    float: left;
    overflow: auto;
    width: 540px;
    height: 500px;
    position: relative;
    /*border: 1px solid gray;*/
    margin-left: 225px;
    display: inline;
}
.scroll-content {
    position: absolute;
    top: 0;
    left: 0;
}
.scroll-content-item {
    background-color: #fcfcfc;
    color: #003366;
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    font-size: 3em;
    line-height: 96px;
    text-align: center;
    border: 1px solid gray;
    display: inline;
}
.extra-scroll-item {
    background-color: #fcfcfc;
    color: #003366;
    width: 100px;
    height: 400px;
    float: left;
    margin: 10px;
    font-size: 3em;
    line-height: 96px;
    text-align: center;
    border: 1px solid gray;
    display: inline;
}
#expand,
#contract {
    font-size: 1.4em;
    line-height: 1.1em;
    padding-top: 10px;
    cursor: pointer;
}
.slider-wrap {
    float: left;
    width: 10px;
    /*border: 1px solid gray;*/
    border-left: none;
}
.slider-vertical {
    position: relative;
    height: 100%;
}
.ui-slider-handle {
    width: 8px;
    height: 10px;
    margin: 2px 0 2px 2px;
    background-color: rgba(169, 169, 169, 0.8);
    display: block;
    position: absolute;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/****************
 * EDITOR
 ******/

#editor {
	border-style: solid;
	border-width: 1px;
	overflow: auto;
	height: 500px;
	width: 550px;
	margin: 5px 5px 5px 5px;
}

/******
 * TEXTBOX
 ******/

div.text {
	display: inline;
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: 520px;
}

textarea#textbox {
	background: transparent;
	border-color: black;
	font: 12px Calibri,Arial,sans-serif;
	margin: 0px;
	padding: 0px;
	min-width: 520px;
	max-width: 520px;
}

/******
 * SKETCHPAD
 ******/

div.sketch {
	display: inline;
	margin: 0px;
	padding: 0px;
	height: 300px;
	width: 520px;
}

#canvas {
	background: rgba(255, 255, 255, 0.9);
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin: 0px;
	padding: 0px;
	height: 275px;
	width: 520px;
}